<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jotleaf</title>
  <meta name="description" content="Jotleaf is a web-based creative medium.">
  <link rel="stylesheet" href="/static/css/main_website.css">
  <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
  <header>
      <div id="headerDecoration"> </div>
  </header>
  <div id="container" class="container">
    <div class="main">
      <h1>Server error</h1>
      <br>
      <p>
      We'll look into it. <a href="/">Try returning home</a>.
      </p>
    </div>
    <footer>
    All feedback welcome:
      <a href="mailto:hello@jotleaf.com">hello@jotleaf.com</a>
      · <a href="http://www.twitter.com/jotleaf">@jotleaf</a>
    </footer>
  </div>
  {% include "ext/uservoice.html" %}
  {% include "ext/goog.html" %}
  {% include "ext/chrome_frame.html" %}

</body>
</html>


